<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="./css/main.css">
</head>
<header>
    <div class="header">
        <img class="image_class"
            src="https://skillate-profile-pictures.s3.ap-south-1.amazonaws.com/org__237/5020af0a-289b-44d0-8e17-8b5ff1f0a985__Tiger_LOGO_new_main.png">

    </div>
    <div class="header1">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a class="current" href="login.html">Login</a></li>
        </ul>
    </div>


</header>

<body>


    <div class="container">
        <form class="form" id="login">
            <h1 class="form__title">Login</h1>
            <input type="text" class="form__input" name="username" placeholder="Username">
            <br>
            <input type="text" class="form__input" name="password" placeholder="Password">
            <br>
            <input class="form__button" type="submit" value="Submit">
            <p class="form__text">
                <a class="form__link" href="register.html " id="linkCreateAccount">Create an account</a>
            </p>
        </form>
    </div>
    <script src="../js/login.js"></script>
</body>

</html>