<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to our Store">
    <meta name="keywords" content="store">
    <script src="https://kit.fontawesome.com/371c8b79ce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./home.component.css">

    <title>Welcome</title>
</head>
<body>
    <div class="container-fluid banner">
		<div class="row">
			<div class="col-md-12">
			</div>

                <div class="con info">
				<h1 class="text-center">Weclome to Retail Dashboard Homepage</h1>
				<p class="text-center">
					Login and continue your  journey if you are an existing user
				</p>
				<a href="/login" class="btn btn-md text-center " routerLink="/login">GET STARTED</a>
            </div>
			</div>
		</div>
</body>

</html>