
.container-fluid {

    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}

.container-fluid,
.form__button {
    font: 500  'Quicksand', sans-serif;
}

